/* body{
    background-image:
    linear-gradient(to right, rgb(225, 189, 154), white);
}

h1{
    font-weight: 1100;
    text-align: center;
}

#center{
    position: absolute;
    left: 285px;
    top:105px;
    font-size: 150%;
}

.center{
    text-align: center;
    position: absolute;
    left: 215px;
    top:150px;
}

li{
    padding-top: 10px;
}

#right{
    position: absolute;
    left: 455px;
    top:55px;
    font-size: 150%;
}

.right{
    text-align: right;
    position: absolute;
    margin-left: 400px;
    top:100px;
}


#left{
    position: absolute;
    left: 50px;
    top:55px;
    font-size: 150%;
}

.left{
    text-align: left;
    position: absolute;
    padding-left: 25px;
    top:100px;
} */


/* .container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
.list{
    flex: 1;
    padding: 10px;
    text-align: center !important;
    border: 1px solid #ccc
  }
  
.left{
    text-align: left;
  }
  
.center {
    text-align: center;
  }
  
.right {
    text-align: right;
  }

ul{
    padding: 0;
    margin-left: 20px;
    list-style-position: inside;
}

h1{
    text-align: center;
    font-weight: 1100;
}

body{
    background-image:
    linear-gradient(to right, rgb(225, 189, 154), white);
}


.cont {
    display: flex;
    justify-content: center;
}

.st {
    border: 1px solid #ccc;
    padding: 30px;
    margin: 0px;
}

.st ul {
    list-style-type: none;
    padding: 0;
}

.st ul li {
    margin-bottom: 5px;
} */




body {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    background-image:
    linear-gradient(to right, rgb(225, 189, 154), white);
}
.menu {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
}
h1, h2 {
    text-align: center;
}
h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
ul {
    list-style-type: circle;
    padding: 0;
}
li {
    margin-bottom: 15px;
}
.item-name {
    font-weight: bold;
}

p{
    text-align: center;
}


